html, body.large {
  font-weight: bold;
}


/* 
h1 {
	font-size: 36px;
}

.cards {
	max-width: 26px;
}

.cards .card {
	height: 100%;
}

.text-2xl {
	font-size: 24px;
}

h1.text-2xl {
	font-size: 24px;
}

.text-2xl, .text-6xl {

} */
